@page "/balancer"
@inject DonorEntryService DonorEntryService
@inject DonorService DonorService
@inject BalancerService BalancerService
@inject MudBlazor.IDialogService DialogService
@inject ILogger<Donors> Logger
@inject CashService CashService
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Logging
@using MudBlazor
@using Balancer.Components.Services
@using Balancer.Components.Models
@using Balancer.Components.Data

<h3>Balancer</h3>

<MudDatePicker DateChanged="UpdateDate" Date="@entryDate" Label="Select Date"  DateFormat="MM/dd/yyyy" /> 

<MudSimpleTable Style="overflow-x: auto;"> 
    <thead> 
        <tr> 
            <th>Donor Number</th> 
            <th>Donor Name</th> 
            <th>Cash</th> 
            <th>Check</th> 
            <th>Total</th> 
            <th></th> 
        </tr> 
    </thead> 
    <tbody>
        <tr>
            <td>
                <MudTextField OnBlur="@(e => GetDonor(newDonation.DonorNumber))" @bind-Value="newDonation.DonorNumber" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
            </td>
            <td>
                <MudTextField @bind-Value="newDonation.Name" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
            </td>
            <td>
                <MudTextField 
                @bind-Value="newDonation.Cash" 
                Variant="Variant.Outlined" 
                Margin="Margin.Dense"
                Error="@hasError" ErrorText="Amount does not balance">
                </MudTextField>
            </td>
            <td>
                <MudTextField 
                @bind-Value="newDonation.Check" 
                Variant="Variant.Outlined" 
                Margin="Margin.Dense"
                Error="@hasError" ErrorText="Amount does not balance">
                </MudTextField>
            </td>
            <td>
                <MudTextField 
                @bind-Value="newDonation.Total" 
                Variant="Variant.Outlined" 
                Margin="Margin.Dense"
                Error="@hasError" ErrorText="Amount does not balance">
                </MudTextField>
            </td>
            <td>
                <MudButton OnClick="Save" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
            </td>
        </tr>
    </tbody>
</MudSimpleTable> 

<MudSimpleTable Style="overflow-x: auto;" Dense=true> 
    <thead> 
        <tr> 
            <th>Donor Number</th> 
            <th>Donor Name</th> 
            <th>Cash</th> 
            <th>Check</th> 
            <th>Total</th> 
            <th>Date</th> 
        </tr> 
    </thead> 
    <tbody> 
        @foreach (var entry in donorEntries) 
        { 
            <tr> 
                <td>@entry.DonorNumber</td> 
                <td>@entry.Name</td> 
                <td>@entry.Cash</td> 
                <td>@entry.Check</td> 
                <td>@entry.Total</td> 
                <td>@entry.Date</td>
                <td>
                    <MudButton OnClick="(e => DeleteDonationEntry(entry))" Variant="Variant.Filled" Color="Color.Error">Delete</MudButton>
                </td>
            </tr> 
        } 
    </tbody> 
</MudSimpleTable> 

<hr />

<MudGrid>
    <MudItem xs="6">
        <h4>Cash</h4>
        <h5>Total Cash : @TotalCashAmount.ToString("C")</h5>
        <MudSimpleTable Style="overflow-x: auto;" Dense=true>
            <thead>
                <th>Denominations</th>
                <th>Number of Bills/Coins</th>
            </thead>
            <tbody>
                @foreach (var denomination in CashService.DenominationAmounts.Keys)
                {
                    <tr>
                        <td>@denomination</td>
                        <td>
                            <MudNumericField 
                                T="int"
                                Value="@CashService.DenominationAmounts[denomination]"
                                ValueChanged="(newValue) => UpdateCashDenomination(denomination, newValue)"
                                >
                            </MudNumericField>
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    </MudItem>
    <MudItem xs="6">
        <h4>Check</h4>
        <MudSimpleTable Style="overflow-x: auto;" Dense=true>
            <thead>
                <th>Check Amounts</th>
            </thead>
            <tbody>

            </tbody>
        </MudSimpleTable>
    </MudItem>
</MudGrid>

@code {
    private List<DonationEntryModel> donorEntries = new();
    private DonationEntryModel newDonation = new();
    private DateTime? entryDate = DateTime.Today;
    private bool hasError = false;
    private decimal TotalCashAmount = 0;


    protected override async Task OnInitializedAsync()
    {
        await LoadDonorsByDate(entryDate);
    }

    private async Task LoadDonorsByDate(DateTime? entryDate)
    {
        DateOnly _date;
        if (entryDate != null)
        {
            _date = DateOnly.FromDateTime((DateTime)entryDate);
        }
        else
        {
            _date = DateOnly.FromDateTime(DateTime.Today);        
        }
        if (donorEntries != null)
        {
            donorEntries = await DonorEntryService.GetDonorEntriesByDateAsync(_date);
        }
    }

    private async Task Save()
    {
        if (BalancerService.BalanceTotal(newDonation.Cash, newDonation.Check, newDonation.Total))
        {
            hasError = false;
            await DonorEntryService.SaveDonationEntry(newDonation);
            newDonation = new();
            await LoadDonorsByDate(entryDate);
            StateHasChanged();
        }
        else
        {
            hasError = true; 
            StateHasChanged();
        }
    }

    private async Task GetDonor(int donorNumber)
    {
        if (entryDate != null)
        {
            newDonation.Date = DateOnly.FromDateTime((DateTime)entryDate);
        }
        DonorModel? result;
        result = await DonorService.GetSingleDonor(donorNumber);
        if (result == null)
        {
            Logger.LogInformation("No Donor Find with that Number");
        }
        else
        {
            newDonation.Name = result.Name;
        }
    }

    private async Task DeleteDonationEntry(DonationEntryModel donorEntry)
    {
        await DonorEntryService.DeleteDonorEntryAsync(donorEntry.TransactionId);
        await LoadDonorsByDate(entryDate);
    }

    private async void UpdateDate(DateTime? newDate)
    {
        if (newDate != null)
        {
            entryDate = newDate;
            await LoadDonorsByDate(entryDate);
        }
    }

    private void UpdateCashDenomination(string denomination, int newValue)
    {
        CashService.DenominationAmounts[denomination] = newValue;
        UpdateCashTotal();
    }

    private void UpdateCashTotal()
    {
        TotalCashAmount = CashService.GetTotalCashAmount();    
    }

}
